*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

#overlayContent
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1
{
    color: aliceblue;
}