*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

#overlayContent
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content
{
    min-height: 90vh;
    min-width: 100vw;
}

#useless
{
    background: green;
    height: 100%;

}

#menuContainer
{
    background: red;
    height: 100%;
}

#centerMenu
{
    background: darkred;
    height: 85%;
    border-radius: 15px;
}

#headerCenterMenu
{
    background: red;

    height: 7%;
    width: 100%;
    border-radius: 15px;
}

#profilePicture
{
    width: 6vh;
    height: 6vh;
    min-width: 32px;
    min-height: 32px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profileNavBar
{
    background: red;
}

#contentCenterMenu
{
    background: #360000;
    height: 80%;
    width: 95%;
    border-radius: 15px;
}

#userStats
{
    background: red;
    height: 270px;
    width: 95%;
    border-radius: 15px;
}

#matchHistory
{
    background: red;
    height: 270px;
    width: 90%;
    border-radius: 15px;
}

.match
{
    background: darkorange;
    height: 65px;
    margin: 3%;
    border-radius: 15px;

}

#friendMenu
{
    background: aquamarine;
    height: 100%;
}