*  {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Poppins, sans-serif;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 70%;
    }
}

html, body {
    overflow: hidden;
}

#overlayContent {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#header {
    height: 45px;
}

#content {
    min-height: calc(100% - 60px);;
    min-width: 100%;
}

#centerMenu {
    background: darkred;
    height: 90%;
    width: 99%;
    border-radius: 15px;
}

#headerCenterMenu {
    background: red;
    min-height: 45px;
    max-height: 60px;
    width: 100%;
    border-radius: 15px;
}

#profilePicture {
    width: 6vh;
    height: 6vh;
    min-width: 32px;
    min-height: 32px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profileNavBar {
    background: red;
}

#statCenterMenu {
    background: #360000;
    height: 80%;
    width: 95%;
    border-radius: 15px;
    justify-content: safe center;
    clip-path: inset(0 round 15px);
}

#userStats {
    background: red;
    height: 270px;
    width: 95%;
    border-radius: 15px;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel .carousel-indicators button {
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

#matchHistory {
    background: red;
    height: 270px;
    width: 90%;
    border-radius: 15px;
    clip-path: inset(0 round 15px);
}

.match {
    background: darkorange;
    height: 75px;
    margin: 3% 0;
    border-radius: 15px;
}

.match > div {
    border-radius: 15px;
}

.matchProfilePicture {
    width: 3vh;
    height: 3vh;
    min-width: 24px;
    min-height: 24px;
    max-width: 32px;
    max-height: 32px;
    margin: 0 2px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.matchValue {
    background: rebeccapurple;
    padding: 2px 5px;
    border-radius: 10px;
}

#friendContent {
    background: red;
    height: 70%;
    width: 99%;
    border-radius: 15px;
    clip-path: inset(0 round 15px);
}