*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: black;
}

@font-face {
    font-family: 'Tetris';
    src: url('./font/Tetris.ttf');
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    overflow: auto;
}
